// Variables
@header-height: 60px;

.navbar-toggler:focus {
  box-shadow: none;//overiding bootstrap boxshadow around menu
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important
}
